@model IEnumerable<EventManager.ViewModels.Models.IndexEventViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { controller = "Events", action = "Edit", id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { controller = "Events", action = "Details", id = item.EventId }) |
                @Html.ActionLink("Add to My List", "AddToList", new { controller = "EventLists", action = "AddToList", id = item.EventId })
            </td>
        </tr>
}
    </tbody>
</table>
